<ion-toolbar></ion-toolbar>

<ion-content scrollY="false" style="width: '100%'; height: '100vh'; padding: '0px 15px'; ">

  <div class="headerdiv">
    <h2 class="title"> Resource center </h2>
    <ion-searchbar class="search" placeholder="Searhc wellness Topics" mode="ios" animated debounce="500">
    </ion-searchbar>

    <!-- start -->
    <div class="searchItemsDiv">
      <div class="searchitems" [routerLink]="['/tabs/explore/profile']">

        <div style="display: flex; flex-direction: column;">
          <strong style="font-size: '15px';"> Content Library </strong>
          <p style="font-size: '13px';margin: '0px';"> yani email </p>
        </div>
        <ion-icon name="chevron-forward-outline" color="medium" mode="ios"></ion-icon>

      </div>
      <div class="searchitems" [routerLink]="['/tabs/explore/profile']">

        <div style="display: flex; flex-direction: column;">
          <strong style="font-size: '15px';"> Pear Network </strong>
          <p style="font-size: '13px';margin: '0px';"> yani email </p>
        </div>
        <ion-icon name="chevron-forward-outline" color="medium" mode="ios"></ion-icon>

      </div>
      <div class="searchitems" [routerLink]="['/tabs/explore/profile']">

        <div style="display: flex; flex-direction: column;">
          <strong style="font-size: '19px'; color: black;"> Local Resourcesn </strong>
          <p style="font-size: '13px';margin: '0px';"> blabla </p>
        </div>
        <ion-icon name="chevron-forward-outline" color="medium" mode="ios"></ion-icon>

      </div>
    </div>
    <!-- end -->

  </div>


</ion-content>
