<ion-header>
  <ion-back-button style="display: none;"></ion-back-button>
</ion-header>

<ion-content scrollY="false" >

  <div class="content">
    <!-- logo start -->
    <div class="startbox">
      <div class="div0">
        <div class="d1">
          <div class="div1"></div>
          <div class="div2"></div>
        </div>
        <div class="d2">
          <div class="div3"></div>
          <div class="div4"></div>
        </div>
      </div>
    </div>
    <!-- logo end -->

    <div class="centralbox">

      <ion-card class="card1">

        <ion-card-title class="cardtitle">
          Wait! You are switching to Anonymous Mode within PowerLine
        </ion-card-title>

        <ion-card-content class="cardcontent">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quam expedita repellat error! Reprehenderit aliquam alias voluptas
          ea, eius itaque rerum eveniet architecto,
        </ion-card-content>
      </ion-card>
      <ion-button class="contButton" color="medium" size="medium" expand="block" mode="ios"  [routerLink]="['/tabs/home']"> Enter Profile Mode </ion-button>
    </div>



  </div>
  <ion-button class="icon" size="large" color="medium">
    <ion-icon style="font-size: '30px';" name="person-outline"></ion-icon>
  </ion-button>


</ion-content>
